@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7y7ukq');
  src:  url('fonts/icomoon.eot?7y7ukq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7y7ukq') format('truetype'),
    url('fonts/icomoon.woff?7y7ukq') format('woff'),
    url('fonts/icomoon.svg?7y7ukq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoz:before {
  content: "\e932";
}
.icon-tuan:before {
  content: "\e933";
}
.icon-wei:before {
  content: "\e931";
}
.icon-guanz:before {
  content: "\e92d";
}
.icon-liu:before {
  content: "\e92e";
}
.icon-shouc:before {
  content: "\e92f";
}
.icon-wos:before {
  content: "\e930";
}
.icon-bianj:before {
  content: "\e922";
}
.icon-jieb:before {
  content: "\e923";
}
.icon-qww:before {
  content: "\e924";
  color: #000;
}
.icon-aix:before {
  content: "\e925";
}
.icon-diz:before {
  content: "\e926";
}
.icon-fenx:before {
  content: "\e927";
}
.icon-gouwc:before {
  content: "\e928";
}
.icon-jil:before {
  content: "\e929";
}
.icon-add:before {
  content: "\e92a";
}
.icon-jt:before {
  content: "\e92b";
}
.icon-liaot:before {
  content: "\e92c";
}
.icon-next:before {
  content: "\e920";
  color: #8a8a8a;
}
.icon-prev:before {
  content: "\e921";
  color: #8a8a8a;
}
.icon-h-ico:before {
  content: "\e91f";
  color: #8a8a8a;
}
.icon-search:before {
  content: "\e91e";
}
.icon-bianji:before {
  content: "\e90e";
}
.icon-deng:before {
  content: "\e91b";
}
.icon-sh:before {
  content: "\e91c";
}
.icon-shoucang:before {
  content: "\e91d";
}
.icon-jiant:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e918";
}
.icon-suo:before {
  content: "\e919";
}
.icon-qq:before {
  content: "\e913";
}
.icon-login:before {
  content: "\e914";
}
.icon-password:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-weibo:before {
  content: "\e917";
}
.icon-bgzj:before {
  content: "\e900";
}
.icon-chaxun:before {
  content: "\e901";
}
.icon-chaoshi:before {
  content: "\e902";
}
.icon-dashujv:before {
  content: "\e903";
}
.icon-fabu:before {
  content: "\e904";
}
.icon-gqtz:before {
  content: "\e905";
}
.icon-jss:before {
  content: "\e906";
}
.icon-jrcp:before {
  content: "\e907";
}
.icon-jrfw:before {
  content: "\e908";
}
.icon-qita:before {
  content: "\e909";
}
.icon-quanp:before {
  content: "\e90a";
}
.icon-rancai:before {
  content: "\e90b";
}
.icon-renli:before {
  content: "\e90c";
}
.icon-gl:before {
  content: "\e90d";
}
.icon-sxxz:before {
  content: "\e90f";
}
.icon-xxgs:before {
  content: "\e910";
}
.icon-zscq:before {
  content: "\e911";
}
.icon-zx:before {
  content: "\e912";
}
