<!--底部-->
<footer>
   <div class="container">
      <ul class="row">
         <li class="fl"><a href="javascript:">关于我们</a></li>
         <li class="fl"><a href="javascript:">郑重声明</a></li>
         <li class="fl"><a href="javascript:">技术支持</a></li>
         <li class="fl"><a href="javascript:">联系我们</a></li>
         <li class="fl"><a href="javascript:">意见反馈</a></li>
      </ul>
      <p>备案号：赣ICP备12000701号-1 Copyright©信用萍乡 &nbsp;&nbsp; <a href="http://www.qixinyun.com">企信云</a> 提供技术支持</p>
   </div>
</footer>