<!--头部-->
<header>
   <div class="head-top">
      <div class="container">
         <div class="row">
            <span>2017年7月31日 星期六</span>
            <ul class="fr row">
               <li class="fl"><a href="javascript:">关于我们</a></li>
               <li class="fl"><a href="javascript:">网站声明</a></li>
               <li class="fl"><a href="javascript:">登录</a></li>
               <li class="fl"><a href="javascript:">注册</a></li>
               <li class="fl"><a href="javascript:">信用江西</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="head-fot">
      <div class="container">
         <div class="row">
            <a href="index.html" class="logo fl"><img src="images/pxnew-logo.png" alt=""></a>
            <div class="search fr">
               <form action="">
                  <div class="dtop">
                     <input type="text">
                     <button class="icon-search"></button>
                  </div>
                  <div class="dfot">
                     热门搜索：<a href="javascript:">公平</a>
                     <a href="javascript:">信用</a>
                     <a href="javascript:">公正</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</header>

<!--导航-->
<nav>
   <div class="container">
      <ul class="row">
         <li class="fl active"><a href="index.html">首页</a></li>
         <li class="fl"><a href="javascript:">信用动态</a></li>
         <li class="fl"><a href="javascript:">信用政策</a></li>
         <li class="fl"><a href="javascript:">信用公示</a></li>
         <li class="fl"><a href="javascript:">信用查询</a></li>
         <li class="fl"><a href="javascript:">诚信宣传</a></li>
         <li class="fl"><a href="javascript:">信用服务</a></li>
         <li class="fl"><a href="javascript:">共建单位</a></li>
         <li class="fl"><a href="javascript:">互动交流</a></li>
      </ul>
   </div>
</nav>